[submodule "VilagOS/vendor/glm"]
	path = VilagOS/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "VilagOS/vendor/spdlog"]
	path = VilagOS/vendor/spdlog
	url = https://github.com/gabime/spdlog
